In [1]:
import datetime as dt
import pandas as pd

In [2]:
campaign_plus = '_plus'
campaign_standard = '_standard_'

In [3]:
data = [
    (dt.date.today(), campaign_plus, 'some offer', 'Android', 123),
    (dt.date.today(), campaign_standard, 'another offer', 'iPhone', 234),
    (dt.date.today(), 'campaign', 'another offer', 'iPhone', 345),
]
data

[(datetime.date(2017, 7, 27), '_plus', 'some offer', 'Android', 123),
 (datetime.date(2017, 7, 27), '_standard_', 'another offer', 'iPhone', 234),
 (datetime.date(2017, 7, 27), 'campaign', 'another offer', 'iPhone', 345)]

In [4]:
data_df = pd.DataFrame(data=data, columns=['date', 'contract', 'offer', 'device', 'job_view'])
#data_df.index
#data_df.columns
data_df

         date    contract          offer   device  job_view
0  2017-07-27       _plus     some offer  Android       123
1  2017-07-27  _standard_  another offer   iPhone       234
2  2017-07-27    campaign  another offer   iPhone       345

## Logical OR
The `dataframe` implements the `|` operator as **logical OR** on record level

In [5]:
data_df['contract'].str.contains(campaign_plus) | data_df['contract'].str.contains(campaign_standard)

0     True
1     True
2    False
Name: contract, dtype: bool

In [6]:
data_df.contract.loc[
    data_df['contract'].str.contains(campaign_plus) | 
    data_df['contract'].str.contains(campaign_standard)
] = 'standard'

/Users/etoulas/.virtualenvs/scipy-pydata/lib/python3.5/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)